{% extends 'layout.html' %}

{% block body %}

    <div class="row">
        {%  for account in accounts %}
            <div class="small-6 columns">
                <div class="callout" align="center">
                    <a href="{% url 'accounts:profile' pk=account.pk %}" class="button"><h5 align="center">{{ account.username }}</h5>
                    <div class="card-copy" style="text-align: center;">
                        <img src="{{ MEDIA_URL }}/{{ account.avatar }}" alt="{{ account.username }}">
                    </div></a>
                </div>
            </div>
		{% endfor %}
	</div>

{% endblock %}