{% extends 'layout.html' %}
{% load humanize %}

{% block title %}{{ account.user.username }} | {{ block.super }}{% endblock %}
{% block body %}
	<div>
		<img class="biopic" src="{{ MEDIA_URL }}{{ account.ava }}" alt="{{ account.user.username }}'s picture.">
		<table>
			<tr>
				<td>Full Name:</td>
				<td>{{ account.user.first_name }} {{ account.user.last_name }}</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>{{ account.user.email }}</td>
			</tr>
			<tr>
				<td>Birthday:</td>
				<td>{{ account.dob }}</td>
			</tr>
			<tr>
				<td>Biography:</td>
				<td>{{ account.bio }}</td>
			</tr>
		</table>
		{% if user.is_authenticated %}
			{% if user.pk == account.user.pk %}
				<h3><a href="{% url 'accounts:edit' pk=account.user.pk %}" class="button" align="center">Edit your account.</a></h3>
			{% endif %}
		{% endif %}
	</div>

{% endblock %}