{% extends 'layout.html' %}


{% block title %}{{ account.user.username }} | {{ block.super }}{% endblock %}
{% block body %}
	<div>
		<img class="biopic" src="{{ MEDIA_URL }}{{ account.ava }}" alt="{{ account.user.username }}'s picture.">
		<table>
			<tr>
				<td>Full Name:</td>
				<td>{{ account.user.first_name }} {{ account.user.last_name }}</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>{{ account.user.email }}</td>
			</tr>
			<tr>
				<td>Birthday:</td>
				<td>{{ account.dob }}</td><!-- use filter -->
			</tr>
			<tr>
				<td>Age:</td>
				<td>{{ account.dob }}</td><!-- use filter for age -->
			</tr>
			<tr>
				<td>Biography:</td>
				<td>{{ account.bio }}</td>
			</tr>
		</table>
		<!-- if block to authenticate this user as user in question -->
		<h3><a href="{% url 'accounts:edit' pk=account.pk %}" class="button" align="center">Edit your account.</a></h3>
		<!-- Create a “profile” view to display a user profile with the following fields: First Name, Last Name, Email, Date of Birth, Bio and Avatar. Include a link to edit the profile. -->
	</div>

{% endblock %}