{% extends 'layout.html' %}
{% block title %}{{ account.user.username }} | {{ block.super }}{% endblock %}
{% block body %}
	<div>
		<img src="{{ MEDIA_URL }}{{ account.ava }}" alt="{{ account.user.username }}'s picture.">
		<ul>
			<li>{{ account.user.username }}</li>
			<li>{{ account.user.first_name }} {{ account.user.last_name }}</li>
			<li><a href="{% url 'accounts:bio' pk=account.pk %}">Click for more information on {{ account.user.username }}.</a></li>
		</ul>
		<!-- if block to authenticate this user as user in question -->
		<a href="{% url 'accounts:edit' pk=account.pk %}">Edit your account.</a>
		<!-- Create a “profile” view to display a user profile with the following fields: First Name, Last Name, Email, Date of Birth, Bio and Avatar. Include a link to edit the profile. -->
	</div>

{% endblock %}