{% extends 'layout.html' %}

{% block body %}

    <div class="row">
        {%  for account in accounts %}
            <div class="small-6 columns">
                <div class="callout">
                    <h5 align="center"><a href="{% url 'accounts:profile' pk=account.pk %}" class="button">{{ account.username }}</a></h5>
                    <div class="card-copy" style="text-align: center;">
                        {{ account.email }}
                    </div>
                </div>
            </div>
		{% endfor %}
	</div>

{% endblock %}