{% extends 'layout.html' %}
{% block title %}{{ account.username }} | {{ block.super }}{% endblock %}
{% block body %}
	<div>
		<img src="{{ account.avatar }}" alt="{{ account.username }}'s picture.">
		<table>
			<tr>
				<td>Full Name:</td>
				<td>{{ account.first_name }} {{ account.last_name }}</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>{{ account.email }}</td>
			</tr>
			<tr>
				<td>Birthday:</td>
				<td>{{ account.birth_date }}</td><!-- use filter -->
			</tr>
			<tr>
				<td>Age:</td>
				<td>{{ account.birthdate }}</td><!-- use filter for age -->
			</tr>
			<tr>
				<td>Biography:</td>
				<td>{{ account.bio }}</td>
			</tr>
		</table>
		<!-- if block to authenticate this user as user in question -->
		<h3><a href="{% url 'accounts:edit' pk=account.pk %}" class="button" align="center">Edit your account.</a></h3>
		<!-- Create a “profile” view to display a user profile with the following fields: First Name, Last Name, Email, Date of Birth, Bio and Avatar. Include a link to edit the profile. -->
	</div>

{% endblock %}