{% extends 'layout.html' %}
{% block body %}
    <!-- <div class="grid-25">
        nav here maybe?
    </div>
	-->
    <div class="grid-75">
        <h1>Welcome!</h1>
        <p>Welcome to the Djenga Circle!  Here, you'll be able to effortlessly communicate with all of your colleagues and associates, assuming the code hasn't fallen onto the webmaster like a pile of blocks in a certain table game.</p>
        <p>To get started, click "Sign Up" above, and you'll be prompted to provide a username, email and password, followed by a bio, date of birth and a profile picture if you have one. Remember, it will be easier for your colleagues to find you if they can see your face!</p>
    </div>
{% endblock %}
